{% macro render_comment(comment, ischild=False) %}
<ul>
    {% if not ischild %}
    <li>
         <img src="{{ (comment.author.email if comment.author.email else 'tempory@mail.com') | gravatar }}"/>&emsp;{{ comment.author.username if comment.author.username else '已注销' }}:&emsp;{{comment.body}}
         <p><a href="#comment" onclick="dealReplyLink('{{comment.author.username}}', '{{comment.id}}')" title="回复该条评论">回复</a>
        {{' ' * 4}}
        reply date:&emsp;{{ comment.reply_date.strftime('%Y/%m/%d') }}
         </p>
    </li>
    {% else %}
    <!-- 这种写法感觉不太好，将逻辑混在视图中， 以后改进 -->
    <li>
        <img src="{{ (comment.author.email if comment.author.email else 'tempory@mail.com') | gravatar }}" />&emsp;{{comment.author.username if comment.author.username else '已注销'}}&emsp;回复{{Comment.query.get(comment.parent_id).author.username}}:&emsp;{{comment.body  }}
        <p><a href="#comment" onclick="dealReplyLink('{{comment.author.username}}', '{{comment.id}}')" title="回复该条评论">回复</a>
        {{'    '}}
        reply date:&emsp;{{ comment.reply_date.strftime('%Y/%m/%d') }}
    </p>
    </li>
    {% endif %}
    <ul>
        {% for child in comment.children %}
        {{ render_comment(child, ischild=True) }}
        {% endfor %}
    </ul>
</ul>
{% endmacro %}

<div style="margin-top:50px; font-size:13px;">
    <h3>评论列表：</h3>
    {% for comment in parent_comments %}
    <div class="comment-wrapper">
        {{ render_comment(comment) }}
    </div>
    {% endfor %}
</div>
